.nav {
  height: 16em;
  width: 30%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.dropdown {
  height: 2em;
  width: 12em;
  font-size: 1.2em;
}

h1 {
  font-size: 2.4em;
}

.label {
  margin-top: 2em;
  font-size: 1.4em;
}

.btn {
  background-color: #f7f5f5;
  border: none;
  margin-top: 1em;
  font-size: 1.2em;
  padding: 0.6em;
  border-radius: 1em;
  font-family: 'Ibarra Real Nova', serif;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: .6s;
}
