.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Ibarra Real Nova', serif;
}

.nav-and-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
